@import '~antd/dist/antd.css';

body {
    background-color: #f0f2f5;
}
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.listItem {
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: #f0f2f5;
    }
    &.selecionado {
        background-color: blue;
    }
}
